Repository UBCSailbot/sailbot_workspace, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SPDonaghy, @FireBoyAJ24, @alberto-escobar, @stevenxu27, @UBCSailbot/soft-admin, @Jng468, @raghumanimehta, @lross03, @JordanChen123, @fyang151

.github/CODEOWNERS:

# This is a comment

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

# these owners will be requested for

# review when someone opens a pull request

* @SPDonaghy @FireBoyAJ24

# boat_simulator

/notebooks/boat_simulator @alberto-escobar @stevenxu27
/src/boat_simulator @alberto-escobar @stevenxu27

# custom_interfaces

/src/custom_interfaces @UBCSailbot/soft-admin

# controller

/notebooks/controller @alberto-escobar @stevenxu27
/src/controller @alberto-escobar @stevenxu27

# diagnostics

/src/diagnostics @Jng468

# docs

/docs/ @FireBoyAJ24

# local_pathfinding

/notebooks/local_pathfinding @raghumanimehta
/src/local_pathfinding @raghumanimehta

# network_systems

/src/network_systems @Jng468 @lross03

# website

/src/website @JordanChen123 @fyang151

Update bounds and debug string of temp sensor to reflect change of unit to Kelvin
  src/network_systems/lib/cmn_hdrs/shared_constants.h
  src/network_systems/projects/can_transceiver/src/can_frame_parser.cpp
Owners: @Jng468, @lross03

Moved test_calculate_desired_heading_and_waypoint_index from test_node_navigate to test_local_path.
  src/local_pathfinding/test/test_local_path.py
  src/local_pathfinding/test/test_node_navigate.py
Owners: @raghumanimehta

update pressure bounds to match size change, CAN_BYTE_DLEN of temp and pressure to match size change, and update tests
  src/network_systems/lib/cmn_hdrs/shared_constants.h
  src/network_systems/projects/can_transceiver/inc/can_frame_parser.h
  src/network_systems/projects/can_transceiver/test/test_can_transceiver.cpp
Owners: @Jng468, @lross03

Created Individualdatabases per test file and increased the dataset for the datatoolong test
  src/network_systems/lib/sailbot_db/test/test_sailbot_db.cpp
  src/network_systems/projects/remote_transceiver/src/remote_transceiver.cpp
  src/network_systems/projects/remote_transceiver/test/test_remote_transceiver.cpp
Owners: @Jng468, @lross03

User/adambrett40/684 update can frames (#692)
  src/network_systems/lib/cmn_hdrs/shared_constants.h
  src/network_systems/lib/utils/utils.h
  src/network_systems/projects/can_transceiver/inc/can_frame_parser.h
  src/network_systems/projects/can_transceiver/src/can_frame_parser.cpp
  src/network_systems/projects/can_transceiver/test/test_can_transceiver.cpp
Owners: @Jng468, @lross03

refactored
  src/local_pathfinding/local_pathfinding/ompl_objectives.py
  src/local_pathfinding/local_pathfinding/ompl_path.py
  src/local_pathfinding/local_pathfinding/visualizer.py
  src/local_pathfinding/test/test_ompl_objectives.py
  src/local_pathfinding/test/test_ompl_path.py
Owners: @raghumanimehta

lint
  src/local_pathfinding/test/test_ompl_path.py
Owners: @raghumanimehta

Added testing for update_if_needed. Third case is failing: new path and heading even though old path is most optimal.
  src/local_pathfinding/test/test_local_path.py
Owners: @raghumanimehta

mb
  src/website/views/components/TimestampFilter/timeStampFilter.module.css
Owners: @JordanChen123, @fyang151

reversed the direction of interpolate path
  src/local_pathfinding/local_pathfinding/global_path.py
  src/local_pathfinding/local_pathfinding/node_mock_global_path.py
  src/local_pathfinding/test/test_global_path.py
Owners: @raghumanimehta

moved definition of create_buffer_around_position (#695)
  src/local_pathfinding/local_pathfinding/ompl_objectives.py
  src/local_pathfinding/local_pathfinding/ompl_path.py
  src/local_pathfinding/local_pathfinding/visualizer.py
  src/local_pathfinding/test/test_ompl_objectives.py
  src/local_pathfinding/test/test_ompl_path.py
Owners: @raghumanimehta

Reworded docs
  src/local_pathfinding/local_pathfinding/mock_nodes/node_mock_wind_sensor.py
Owners: @raghumanimehta

updated Visualizer UI/UX experience
  src/local_pathfinding/local_pathfinding/visualizer.py
Owners: @raghumanimehta

lint issues fixed
  src/local_pathfinding/local_pathfinding/mock_nodes/node_mock_wind_sensor.py
  src/local_pathfinding/test/test_ompl_objectives.py
Owners: @raghumanimehta

reversed the direction of interpolate path (#696)
  src/local_pathfinding/local_pathfinding/global_path.py
  src/local_pathfinding/local_pathfinding/node_mock_global_path.py
  src/local_pathfinding/test/test_global_path.py
Owners: @raghumanimehta

Raghumanimehta/updating mocks 678 (#691)
  src/local_pathfinding/local_pathfinding/coord_systems.py
  src/local_pathfinding/local_pathfinding/mock_nodes/node_mock_ais.py
  src/local_pathfinding/local_pathfinding/mock_nodes/node_mock_global_path.py
  src/local_pathfinding/local_pathfinding/mock_nodes/node_mock_gps.py
  src/local_pathfinding/local_pathfinding/mock_nodes/node_mock_wind_sensor.py
  src/local_pathfinding/local_pathfinding/mock_nodes/shared_constants.py
  src/local_pathfinding/local_pathfinding/node_mock_wind_sensor.py
  src/local_pathfinding/local_pathfinding/ompl_objectives.py
  src/local_pathfinding/local_pathfinding/visualizer.py
  src/local_pathfinding/local_pathfinding/wind_coord_systems.py
  src/local_pathfinding/setup.py
  src/local_pathfinding/test/test_coord_systems.py
  src/local_pathfinding/test/test_node_navigate.py
  src/local_pathfinding/test/test_ompl_objectives.py
  src/local_pathfinding/test/test_wind_coord_systems.py
Owners: @raghumanimehta

refactor: add documentation and tests for bound_to_pi
  src/local_pathfinding/local_pathfinding/coord_systems.py
  src/local_pathfinding/test/test_coord_systems.py
  src/local_pathfinding/test/test_ompl_objectives.py
Owners: @raghumanimehta

chore: updates
  src/local_pathfinding/test/test_ompl_objectives.py
Owners: @raghumanimehta

chore: fix testing issues
  src/local_pathfinding/local_pathfinding/coord_systems.py
  src/local_pathfinding/local_pathfinding/ompl_objectives.py
  src/local_pathfinding/test/test_ompl_objectives.py
  src/local_pathfinding/test/test_ompl_path.py
Owners: @raghumanimehta

chore: fix flake8 errors
  src/local_pathfinding/test/test_ompl_objectives.py
Owners: @raghumanimehta

refactor: remove bound_to_pi and replace with bound_to_180 with degree-radian conversion
  src/local_pathfinding/local_pathfinding/coord_systems.py
  src/local_pathfinding/local_pathfinding/ompl_objectives.py
Owners: @raghumanimehta

Added comments and small improvements for clarity
  src/local_pathfinding/local_pathfinding/visualizer.py
Owners: @raghumanimehta

chore: removed bound_to_pi tests
  src/local_pathfinding/test/test_coord_systems.py
Owners: @raghumanimehta

User/rnar17/683 update wind objectives (#687)
  src/local_pathfinding/local_pathfinding/ompl_objectives.py
  src/local_pathfinding/test/test_ompl_objectives.py
  src/local_pathfinding/test/test_ompl_path.py
Owners: @raghumanimehta

re-implemented ompl_objectives
  src/local_pathfinding/local_pathfinding/coord_systems.py
  src/local_pathfinding/local_pathfinding/ompl_objectives.py
  src/local_pathfinding/local_pathfinding/ompl_path.py
  src/local_pathfinding/test/test_coord_systems.py
  src/local_pathfinding/test/test_ompl_objectives.py
Owners: @raghumanimehta

remove Objective class
  src/local_pathfinding/local_pathfinding/ompl_objectives.py
  src/local_pathfinding/test/test_coord_systems.py
Owners: @raghumanimehta

add weight consts
  src/local_pathfinding/local_pathfinding/ompl_objectives.py
  src/local_pathfinding/package.xml
Owners: @raghumanimehta

updated Visualizer UI/UX experience (#697)
  src/local_pathfinding/local_pathfinding/visualizer.py
Owners: @raghumanimehta

fixed wind vectors frame conversion and scaling, overlaping in inset wind box
  src/local_pathfinding/local_pathfinding/visualizer.py
Owners: @raghumanimehta

refactored visualizer and move helpers to coord_systems.py
  src/local_pathfinding/local_pathfinding/coord_systems.py
  src/local_pathfinding/local_pathfinding/visualizer.py
Owners: @raghumanimehta

Reordered installs, removed copying over ros2 installation for now. Release image builds properly now however the image isn't functional yet.
  .devcontainer/release/release.Dockerfile
Owners: @SPDonaghy, @FireBoyAJ24

update tests
  src/local_pathfinding/local_pathfinding/ompl_objectives.py
  src/local_pathfinding/test/test_ompl_objectives.py
Owners: @raghumanimehta

auto deploy site for merges to main
  .github/workflows/deploy-website.yml
  .github/workflows/deployment.yml
  .github/workflows/website-pr-check.yml
  src/website/ecosystem.config.js
  src/website/next.config.js
Owners: @SPDonaghy, @FireBoyAJ24, @JordanChen123, @fyang151

fix lint issue
  src/website/lib/redux/middleware.ts
Owners: @JordanChen123, @fyang151

.
  .github/workflows/deploy-website.yml
Owners: @SPDonaghy, @FireBoyAJ24

testing the workflow. Will revert this commit
  src/website/views/components/Header/Header.tsx
Owners: @JordanChen123, @fyang151

will revert. Just got this for testing
  .github/workflows/deploy-website.yml
Owners: @SPDonaghy, @FireBoyAJ24

reverting changes that I had for testing
  .github/workflows/deploy-website.yml
  src/website/views/components/Header/Header.tsx
Owners: @SPDonaghy, @FireBoyAJ24, @JordanChen123, @fyang151

added ompl install cmd
  .devcontainer/release/release.Dockerfile
Owners: @SPDonaghy, @FireBoyAJ24

added git and bash-completion
  .devcontainer/release/release.Dockerfile
Owners: @SPDonaghy, @FireBoyAJ24
