Repository UBCSailbot/sailbot_workspace, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SPDonaghy, @FireBoyAJ24, @alberto-escobar, @stevenxu27, @UBCSailbot/soft-admin, @Jng468, @raghumanimehta, @lross03, @JordanChen123, @fyang151

.github/CODEOWNERS:

# This is a comment

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

# these owners will be requested for

# review when someone opens a pull request

* @SPDonaghy @FireBoyAJ24

# boat_simulator

/notebooks/boat_simulator @alberto-escobar @stevenxu27
/src/boat_simulator @alberto-escobar @stevenxu27

# custom_interfaces

/src/custom_interfaces @UBCSailbot/soft-admin

# controller

/notebooks/controller @alberto-escobar @stevenxu27
/src/controller @alberto-escobar @stevenxu27

# diagnostics

/src/diagnostics @Jng468

# docs

/docs/ @FireBoyAJ24

# local_pathfinding

/notebooks/local_pathfinding @raghumanimehta
/src/local_pathfinding @raghumanimehta

# network_systems

/src/network_systems @Jng468 @lross03

# website

/src/website @JordanChen123 @fyang151

Add automated website deployment with PM2 (#706)
  .github/workflows/deploy-website.yml
  .github/workflows/deployment.yml
  .github/workflows/website-pr-check.yml
  src/website/ecosystem.config.js
  src/website/lib/redux/middleware.ts
  src/website/next.config.js
Owners: @SPDonaghy, @FireBoyAJ24, @JordanChen123, @fyang151

Added tests for newly added helper functions in coord_systems and visualizer
  src/local_pathfinding/local_pathfinding/visualizer.py
  src/local_pathfinding/test/test_coord_systems.py
  src/local_pathfinding/test/test_visualizer.py
Owners: @raghumanimehta

Rename variable y_offset to Y_OFFSET
  src/local_pathfinding/local_pathfinding/visualizer.py
Owners: @raghumanimehta

fixed wind vectors frame conversion and scaling, overlaping in inset … (#705)
  src/local_pathfinding/local_pathfinding/coord_systems.py
  src/local_pathfinding/local_pathfinding/visualizer.py
  src/local_pathfinding/test/test_coord_systems.py
  src/local_pathfinding/test/test_visualizer.py
Owners: @raghumanimehta

updated readme
  src/local_pathfinding/README.md
  src/local_pathfinding/local_pathfinding/coord_systems.py
  src/local_pathfinding/local_pathfinding/visualizer.py
Owners: @raghumanimehta

updated readme (#710)
  src/local_pathfinding/README.md
  src/local_pathfinding/local_pathfinding/coord_systems.py
  src/local_pathfinding/local_pathfinding/visualizer.py
Owners: @raghumanimehta

lightmode/color
  src/website/styles/variables.css
  src/website/views/components/LineChart/LineChart.tsx
  src/website/views/components/Stats/Stats.tsx
Owners: @JordanChen123, @fyang151

implement unit tests for objective cost helper functions
  .gitignore
  src/local_pathfinding/local_pathfinding/coord_systems.py
  src/local_pathfinding/local_pathfinding/ompl_objectives.py
  src/local_pathfinding/local_pathfinding/ompl_path.py
  src/local_pathfinding/test/test_coord_systems.py
  src/local_pathfinding/test/test_ompl_objectives.py
Owners: @SPDonaghy, @FireBoyAJ24, @raghumanimehta

changed arrows, added speed to AIS ships, added distance to goal to sailbot
  src/local_pathfinding/local_pathfinding/visualizer.py
Owners: @raghumanimehta

updates
  src/network_systems/projects/local_transceiver/src/local_transceiver_ros_intf.cpp
Owners: @Jng468, @lross03

prevent plot UI from reszing on updates
  src/local_pathfinding/local_pathfinding/visualizer.py
Owners: @raghumanimehta

User/adambrett40/259 global waypoint cache (#493)
  src/network_systems/lib/cmn_hdrs/shared_constants.h
  src/network_systems/projects/local_transceiver/inc/local_transceiver.h
  src/network_systems/projects/local_transceiver/src/local_transceiver.cpp
  src/network_systems/projects/local_transceiver/src/local_transceiver_ros_intf.cpp
  src/network_systems/projects/local_transceiver/test/test_local_transceiver.cpp
Owners: @Jng468, @lross03

yellow boat blue state space
  src/local_pathfinding/local_pathfinding/visualizer.py
Owners: @raghumanimehta

style changes
  src/local_pathfinding/local_pathfinding/visualizer.py
Owners: @raghumanimehta

Pathfinding Visualizer Design Upgrades (#713)
  src/local_pathfinding/local_pathfinding/visualizer.py
Owners: @raghumanimehta

before switch
  src/local_pathfinding/local_pathfinding/mock_nodes/node_mock_wind_sensor.py
  src/local_pathfinding/local_pathfinding/node_mock_wind_sensor.py
Owners: @raghumanimehta

update
  src/network_systems/projects/local_transceiver/src/local_transceiver_ros_intf.cpp
Owners: @Jng468, @lross03

fixes
  src/network_systems/projects/local_transceiver/src/local_transceiver_ros_intf.cpp
Owners: @Jng468, @lross03

improvements to mock gps
  src/local_pathfinding/local_pathfinding/mock_nodes/node_mock_gps.py
Owners: @raghumanimehta

made some changes
  src/local_pathfinding/local_pathfinding/mock_nodes/node_mock_wind_sensor.py
Owners: @raghumanimehta

deleted redundnat file
  src/local_pathfinding/local_pathfinding/node_mock_wind_sensor.py
Owners: @raghumanimehta

fixes
  src/local_pathfinding/local_pathfinding/mock_nodes/node_mock_wind_sensor.py
Owners: @raghumanimehta

Corrected wind vector orientation, fixed inset rendering, and added wind speed labels
  src/local_pathfinding/local_pathfinding/coord_systems.py
  src/local_pathfinding/local_pathfinding/visualizer.py
  src/local_pathfinding/test/test_coord_systems.py
Owners: @raghumanimehta

cleaned visualizer and refactored tests in test_coord_systems
  src/local_pathfinding/local_pathfinding/visualizer.py
  src/local_pathfinding/test/test_coord_systems.py
Owners: @raghumanimehta

Corrected wind vector orientation, fixed inset rendering, and added wind speed labels (#720)
  src/local_pathfinding/local_pathfinding/coord_systems.py
  src/local_pathfinding/local_pathfinding/visualizer.py
  src/local_pathfinding/test/test_coord_systems.py
Owners: @raghumanimehta

documentation update for Mock wind sensor
  src/local_pathfinding/local_pathfinding/mock_nodes/node_mock_wind_sensor.py
Owners: @raghumanimehta

fixed argument to get_apparent_wind in get_speed_and_direction
  src/local_pathfinding/local_pathfinding/mock_nodes/node_mock_wind_sensor.py
Owners: @raghumanimehta

i think it works
  src/website/.env.development
  src/website/.env.production
  src/website/README.md
  src/website/app/api/aisships/route.ts
  src/website/package.json
  src/website/scripts/aisstream-ingest.js
Owners: @JordanChen123, @fyang151

fixed not handling blob
  src/website/scripts/aisstream-ingest.js
Owners: @JordanChen123, @fyang151

Added a test for checking that echo server received data correctly (Currently FAILING)
  scripts/test.sh
  src/network_systems/lib/sailbot_db/src/sailbot_db.cpp
  src/network_systems/projects/local_transceiver/CMakeLists.txt
  src/network_systems/projects/local_transceiver/test/test_local_transceiver.cpp
Owners: @SPDonaghy, @FireBoyAJ24, @Jng468, @lross03

Revert "Created Individualdatabases per test file and increased the dataset for the datatoolong test"
  src/network_systems/lib/sailbot_db/test/test_sailbot_db.cpp
  src/network_systems/projects/remote_transceiver/src/remote_transceiver.cpp
  src/network_systems/projects/remote_transceiver/test/test_remote_transceiver.cpp
Owners: @Jng468, @lross03

Revert "Retrying github tests"
  src/network_systems/projects/remote_transceiver/test/test_remote_transceiver.cpp
Owners: @Jng468, @lross03

Revert "Reduced number of threads being sent for sensors as MONGODB cannot handle much"
  src/network_systems/projects/remote_transceiver/test/test_remote_transceiver.cpp
Owners: @Jng468, @lross03

Revert "Added MONGODB password to test.sh as environment variable"
  scripts/test.sh
Owners: @SPDonaghy, @FireBoyAJ24

Revert "Incorporated a way to load in the password from a .env (and ensured thread safety)"
  src/network_systems/lib/sailbot_db/inc/sailbot_db.h
  src/network_systems/lib/sailbot_db/src/main.cpp
  src/network_systems/lib/sailbot_db/src/sailbot_db.cpp
  src/network_systems/lib/sailbot_db/test/test_sailbot_db.cpp
  src/network_systems/projects/remote_transceiver/src/remote_transceiver_ros_intf.cpp
  src/network_systems/projects/remote_transceiver/test/test_remote_transceiver.cpp
Owners: @Jng468, @lross03

Revert "Added the official mongodb uri to connect to database and fixed the timestamp function"
  src/network_systems/build/.built_by
  src/network_systems/build/COLCON_IGNORE
  src/network_systems/install/.colcon_install_layout
  src/network_systems/install/COLCON_IGNORE
  src/network_systems/install/_local_setup_util_ps1.py
  src/network_systems/install/_local_setup_util_sh.py
  src/network_systems/install/local_setup.bash
  src/network_systems/install/local_setup.ps1
  src/network_systems/install/local_setup.sh
  src/network_systems/install/local_setup.zsh
  src/network_systems/install/setup.bash
  src/network_systems/install/setup.ps1
  src/network_systems/install/setup.sh
  src/network_systems/install/setup.zsh
  src/network_systems/lib/sailbot_db/inc/sailbot_db.h
  src/network_systems/lib/sailbot_db/src/sailbot_db.cpp
  src/network_systems/lib/sailbot_db/src/util_db.cpp
  src/network_systems/log/COLCON_IGNORE
  src/network_systems/log/build_2025-09-21_14-05-56/events.log
  src/network_systems/log/build_2025-09-21_14-05-56/logger_all.log
  src/network_systems/log/build_2025-09-21_14-06-12/events.log
  src/network_systems/log/build_2025-09-21_14-06-12/logger_all.log
  src/network_systems/log/latest
  src/network_systems/log/latest_build
Owners: @Jng468, @lross03

added env to gitignore, rotated ais apikey
  src/website/.env.development
  src/website/.env.production
  src/website/.gitignore
  src/website/package-lock.json
  src/website/tests/package-lock.json
Owners: @JordanChen123, @fyang151

light!
  src/website/styles/variables.css
  src/website/views/components/LineChart/LineChart.tsx
  src/website/views/components/Stats/Stats.tsx
Owners: @JordanChen123, @fyang151

ReADD CACHEBUST
  .devcontainer/release/release.Dockerfile
Owners: @SPDonaghy, @FireBoyAJ24

refactor mock gps
  src/local_pathfinding/local_pathfinding/mock_nodes/node_mock_gps.py
Owners: @raghumanimehta
