Repository UBCSailbot/sailbot_workspace, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SPDonaghy, @FireBoyAJ24, @alberto-escobar, @stevenxu27, @UBCSailbot/soft-admin, @Jng468, @raghumanimehta, @lross03, @JordanChen123, @fyang151

.github/CODEOWNERS:

# This is a comment

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

# these owners will be requested for

# review when someone opens a pull request

* @SPDonaghy @FireBoyAJ24

# boat_simulator

/notebooks/boat_simulator @alberto-escobar @stevenxu27
/src/boat_simulator @alberto-escobar @stevenxu27

# custom_interfaces

/src/custom_interfaces @UBCSailbot/soft-admin

# controller

/notebooks/controller @alberto-escobar @stevenxu27
/src/controller @alberto-escobar @stevenxu27

# diagnostics

/src/diagnostics @Jng468

# docs

/docs/ @FireBoyAJ24

# local_pathfinding

/notebooks/local_pathfinding @raghumanimehta
/src/local_pathfinding @raghumanimehta

# network_systems

/src/network_systems @Jng468 @lross03

# website

/src/website @JordanChen123 @fyang151

Remove development comment
  .devcontainer/release/release.Dockerfile
Owners: @SPDonaghy, @FireBoyAJ24

Added new_path boolean return value in update_if_needed. Need to debug tests still.
  src/local_pathfinding/local_pathfinding/local_path.py
  src/local_pathfinding/local_pathfinding/node_navigate.py
  src/local_pathfinding/test/test_local_path.py
Owners: @raghumanimehta

Optimize Release Image Process Further (#722)
  .devcontainer/release/release.Dockerfile
  .dockerignore
  scripts/setup.sh
Owners: @SPDonaghy, @FireBoyAJ24

refactor mock gps (#723)
  src/local_pathfinding/local_pathfinding/mock_nodes/node_mock_gps.py
Owners: @raghumanimehta

425 update low level control node (#445)
  src/boat_simulator/boat_simulator/nodes/low_level_control/low_level_control_node.py
  src/global_launch/config/README.md
  src/global_launch/config/globals.yaml
Owners: @alberto-escobar, @stevenxu27, @SPDonaghy, @FireBoyAJ24

Pending changes exported from your codespace
  src/local_pathfinding/local_pathfinding/ompl_objectives.py
Owners: @raghumanimehta

fixed not handling blob
  src/website/scripts/aisstream-ingest.js
Owners: @JordanChen123, @fyang151

fixed vibe
  src/website/scripts/aisstream-ingest.js
Owners: @JordanChen123, @fyang151

added comments
  src/website/scripts/aisstream-ingest.js
Owners: @JordanChen123, @fyang151

State passed into compare_path_costs. Style changes in test_local_path.
  src/local_pathfinding/local_pathfinding/local_path.py
  src/local_pathfinding/test/test_local_path.py
Owners: @raghumanimehta

First test implemented. LocalPathState object initialized as constant for testing.
  src/local_pathfinding/test/test_local_path.py
Owners: @raghumanimehta

added test for turn cost
  src/local_pathfinding/local_pathfinding/ompl_objectives.py
  src/local_pathfinding/test/test_ompl_objectives.py
Owners: @raghumanimehta

rm unused const
  src/local_pathfinding/local_pathfinding/ompl_objectives.py
Owners: @raghumanimehta

Added test to verify sending
  src/network_systems/projects/local_transceiver/inc/local_transceiver.h
  src/network_systems/projects/local_transceiver/src/local_transceiver.cpp
  src/network_systems/projects/local_transceiver/test/test_local_transceiver.cpp
Owners: @Jng468, @lross03

Commented out failing assertions for send() test
  src/network_systems/projects/local_transceiver/test/test_local_transceiver.cpp
Owners: @Jng468, @lross03

added explicit ws import and npm script for ingest worker
  src/website/package.json
  src/website/scripts/aisstream-ingest.js
Owners: @JordanChen123, @fyang151

changed ais ships
  src/local_pathfinding/local_pathfinding/mock_nodes/node_mock_gps.py
  src/local_pathfinding/local_pathfinding/obstacles.py
  src/local_pathfinding/local_pathfinding/ompl_objectives.py
  src/local_pathfinding/local_pathfinding/visualizer.py
  src/local_pathfinding/mock_ais_files/ais_ships.csv
Owners: @raghumanimehta

resore changes to visualizer legend
  src/local_pathfinding/local_pathfinding/visualizer.py
Owners: @raghumanimehta

Restore changes to visualizer legend (#729)
  src/local_pathfinding/local_pathfinding/visualizer.py
Owners: @raghumanimehta

removed commented out animation plot
  src/local_pathfinding/local_pathfinding/mock_nodes/shared_constants.py
  src/local_pathfinding/local_pathfinding/visualizer.py
Owners: @raghumanimehta

Update README.md
  README.md
Owners: @SPDonaghy, @FireBoyAJ24

Update README.md
  README.md
Owners: @SPDonaghy, @FireBoyAJ24

re-checked the vector and fixed wind box display
  src/local_pathfinding/local_pathfinding/coord_systems.py
  src/local_pathfinding/local_pathfinding/visualizer.py
Owners: @raghumanimehta

removed checking for duplicate messages and updated docstrings
  src/local_pathfinding/local_pathfinding/node_navigate_observer.py
Owners: @raghumanimehta

removed usage as its confusing, visualizer.py is not standalone
  src/local_pathfinding/local_pathfinding/visualizer.py
Owners: @raghumanimehta

fixed type error
  src/local_pathfinding/local_pathfinding/node_navigate_observer.py
Owners: @raghumanimehta

fixed typing errors
  src/local_pathfinding/local_pathfinding/node_navigate_observer.py
  src/local_pathfinding/local_pathfinding/visualizer.py
Owners: @raghumanimehta

Visualizer Refactor (#731)
  src/local_pathfinding/local_pathfinding/mock_nodes/shared_constants.py
  src/local_pathfinding/local_pathfinding/node_navigate_observer.py
  src/local_pathfinding/local_pathfinding/visualizer.py
Owners: @raghumanimehta

basic wind-sensor rework
  src/local_pathfinding/local_pathfinding/mock_nodes/node_mock_wind_sensor.py
Owners: @raghumanimehta
