Repository UBCSailbot/sailbot_workspace, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SPDonaghy, @FireBoyAJ24, @alberto-escobar, @stevenxu27, @UBCSailbot/soft-admin, @Jng468, @raghumanimehta, @lross03, @JordanChen123, @fyang151

Move boundTo360 and boundTo180 to utils.h
  src/network_systems/lib/utils/utils.h
  src/network_systems/projects/can_transceiver/inc/can_frame_parser.h
  src/network_systems/projects/can_transceiver/src/can_frame_parser.cpp
Owners: @Jng468, @lross03

chore: remove unused functions and commented-out code blocks
  src/local_pathfinding/local_pathfinding/ompl_objectives.py
Owners: @raghumanimehta

Revert making parseInMsg public, instead add friend class so checkCache test can access it
  src/network_systems/projects/local_transceiver/inc/local_transceiver.h
Owners: @Jng468, @lross03

chore: update upwind and downwind multiplier constants
  src/local_pathfinding/test/test_ompl_objectives.py
Owners: @raghumanimehta

Replaced magic numbers with constants
  src/network_systems/projects/local_transceiver/test/test_local_transceiver.cpp
Owners: @Jng468, @lross03

fixed warnings about deprecated syntax in dockerfile
  .devcontainer/base-dev/base-dev.Dockerfile
Owners: @SPDonaghy, @FireBoyAJ24

change ownership of copied files in release image
  .devcontainer/release/release.Dockerfile
Owners: @SPDonaghy, @FireBoyAJ24

ros service set up and potentially working
  src/network_systems/CMakeLists.txt
  src/network_systems/lib/cmn_hdrs/shared_constants.h
  src/network_systems/projects/local_transceiver/src/local_transceiver_ros_intf.cpp
Owners: @Jng468, @lross03

removed comment
  src/boat_simulator/boat_simulator/nodes/low_level_control/low_level_control_node.py
Owners: @alberto-escobar, @stevenxu27

add python3 install and change ownership of folders when copying
  .devcontainer/release/release.Dockerfile
Owners: @SPDonaghy, @FireBoyAJ24

updated cost function in ompl_path
  src/local_pathfinding/local_pathfinding/ompl_path.py
Owners: @raghumanimehta

removed redundancy
  src/local_pathfinding/local_pathfinding/ompl_path.py
Owners: @raghumanimehta

updated cost function in ompl_path (#689)
  src/local_pathfinding/local_pathfinding/ompl_path.py
Owners: @raghumanimehta

fixed mypy errors
  src/integration_tests/integration_tests/integration_test_node.py
Owners: @SPDonaghy, @FireBoyAJ24

fixed ownership again
  .devcontainer/Dockerfile
  .devcontainer/release/release.Dockerfile
Owners: @SPDonaghy, @FireBoyAJ24

Fixed devcontainer issue, removed build-release-image VScode task (#675)
  .devcontainer/Dockerfile
  .devcontainer/base-dev/base-dev.Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/release/release.Dockerfile
  sailbot.code-workspace
  scripts/README.md
  scripts/deploy.sh
  src/integration_tests/integration_tests/integration_test_node.py
Owners: @SPDonaghy, @FireBoyAJ24

fixed file ownership and install python
  .devcontainer/release/release.Dockerfile
Owners: @SPDonaghy, @FireBoyAJ24

move create new user later
  .devcontainer/release/release.Dockerfile
Owners: @SPDonaghy, @FireBoyAJ24

move ahead copy /opt/ros/humble
  .devcontainer/release/release.Dockerfile
Owners: @SPDonaghy, @FireBoyAJ24

move ahead copying
  .devcontainer/release/release.Dockerfile
Owners: @SPDonaghy, @FireBoyAJ24

reorder
  .devcontainer/release/release.Dockerfile
Owners: @SPDonaghy, @FireBoyAJ24

python3
  .devcontainer/release/release.Dockerfile
Owners: @SPDonaghy, @FireBoyAJ24

python3 version
  .devcontainer/release/release.Dockerfile
Owners: @SPDonaghy, @FireBoyAJ24

added layers
  .devcontainer/release/release.Dockerfile
Owners: @SPDonaghy, @FireBoyAJ24

symlink
  .devcontainer/release/release.Dockerfile
Owners: @SPDonaghy, @FireBoyAJ24

rm cachebust for now
  .devcontainer/release/release.Dockerfile
Owners: @SPDonaghy, @FireBoyAJ24

add &&
  .devcontainer/release/release.Dockerfile
Owners: @SPDonaghy, @FireBoyAJ24

made some progress
  src/local_pathfinding/local_pathfinding/node_mock_wind_sensor.py
  src/local_pathfinding/local_pathfinding/ompl_objectives.py
  src/local_pathfinding/local_pathfinding/wind_coord_systems.py
  src/local_pathfinding/test/test_wind_coord_systems.py
Owners: @raghumanimehta

added tests
  src/local_pathfinding/local_pathfinding/ompl_objectives.py
  src/local_pathfinding/local_pathfinding/wind_coord_systems.py
  src/local_pathfinding/test/test_ompl_objectives.py
  src/local_pathfinding/test/test_wind_coord_systems.py
Owners: @raghumanimehta

feat(test): add unit tests for new wind cost function
  src/local_pathfinding/local_pathfinding/ompl_objectives.py
  src/local_pathfinding/test/test_ompl_objectives.py
Owners: @raghumanimehta

machine switch
  src/local_pathfinding/local_pathfinding/coord_systems.py
  src/local_pathfinding/local_pathfinding/wind_coord_systems.py
  src/local_pathfinding/test/test_coord_systems.py
  src/local_pathfinding/test/test_node_navigate.py
  src/local_pathfinding/test/test_wind_coord_systems.py
Owners: @raghumanimehta

get_apparent_wind
  src/local_pathfinding/local_pathfinding/wind_coord_systems.py
Owners: @raghumanimehta

documentation updates
  src/local_pathfinding/local_pathfinding/wind_coord_systems.py
Owners: @raghumanimehta

Moved copying over ros2 earlier to fix python3 not being found
  .devcontainer/release/release.Dockerfile
Owners: @SPDonaghy, @FireBoyAJ24

almost done
  src/local_pathfinding/local_pathfinding/mock_nodes/node_mock_ais.py
  src/local_pathfinding/local_pathfinding/mock_nodes/node_mock_global_path.py
  src/local_pathfinding/local_pathfinding/mock_nodes/node_mock_gps.py
  src/local_pathfinding/local_pathfinding/mock_nodes/node_mock_wind_sensor.py
  src/local_pathfinding/local_pathfinding/mock_nodes/shared_constants.py
  src/local_pathfinding/local_pathfinding/visualizer.py
Owners: @raghumanimehta

Undo removing cache files in localtransceiver destructor because they should persist across runs
  src/network_systems/projects/local_transceiver/src/local_transceiver.cpp
Owners: @Jng468, @lross03

ready
  src/local_pathfinding/local_pathfinding/mock_nodes/node_mock_gps.py
  src/local_pathfinding/local_pathfinding/mock_nodes/node_mock_wind_sensor.py
  src/local_pathfinding/local_pathfinding/node_mock_ais.py
  src/local_pathfinding/local_pathfinding/node_mock_global_path.py
  src/local_pathfinding/local_pathfinding/node_mock_gps.py
  src/local_pathfinding/local_pathfinding/node_mock_wind_sensor.py
  src/local_pathfinding/local_pathfinding/wind_coord_systems.py
  src/local_pathfinding/setup.py
  src/local_pathfinding/test/test_wind_coord_systems.py
Owners: @raghumanimehta

linter
  src/local_pathfinding/local_pathfinding/ompl_objectives.py
  src/local_pathfinding/setup.py
Owners: @raghumanimehta

fixed mistake
  src/local_pathfinding/local_pathfinding/mock_nodes/node_mock_global_path.py
Owners: @raghumanimehta

Update can frames to match documentation: temp int16->int32, pressure int32->int16, mainTrimTab angle + 90
  src/network_systems/projects/can_transceiver/src/can_frame_parser.cpp
Owners: @Jng468, @lross03

.github/CODEOWNERS:

# This is a comment

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

# these owners will be requested for

# review when someone opens a pull request

* @SPDonaghy @FireBoyAJ24

# boat_simulator

/notebooks/boat_simulator @alberto-escobar @stevenxu27
/src/boat_simulator @alberto-escobar @stevenxu27

# custom_interfaces

/src/custom_interfaces @UBCSailbot/soft-admin

# controller

/notebooks/controller @alberto-escobar @stevenxu27
/src/controller @alberto-escobar @stevenxu27

# diagnostics

/src/diagnostics @Jng468

# docs

/docs/ @FireBoyAJ24

# local_pathfinding

/notebooks/local_pathfinding @raghumanimehta
/src/local_pathfinding @raghumanimehta

# network_systems

/src/network_systems @Jng468 @lross03

# website

/src/website @JordanChen123 @fyang151
