Repository UBCSailbot/sailbot_workspace, pull requests merged in 2023-03, with the labels that each got.

#102 Use github instead of relative link
  .devcontainer/deployment/README.md
Labels: documentation, ignore-for-release

#96 Rebuild Docs on push to main
  .github/workflows/build-images.yml
  .github/workflows/tests.yml
  README.md
Labels: github, infrastructure

#104 Fix rebuild docs job
  .github/workflows/tests.yml
  README.md
Labels: bug, ignore-for-release

#70 CAN test interface support
  .devcontainer/Dockerfile
  .devcontainer/base-dev/base-dev.Dockerfile
  .devcontainer/deployment/README.md
  .devcontainer/deployment/helpers/setup_can.sh
  .devcontainer/deployment/setup_boot.sh
  .devcontainer/deployment/start_container.sh
  .devcontainer/devcontainer.json
Labels: devcontainer, infrastructure

#103 Add bash configuration to base image
  .devcontainer/Dockerfile
  .devcontainer/base-dev/base-dev.Dockerfile
  .devcontainer/base-dev/update-bashrc.sh
  .devcontainer/deployment/README.md
  .devcontainer/pre-base/pre-base.Dockerfile
Labels: devcontainer, infrastructure

#100 Publish ROS package actions sailbot workspace component
  .github/workflows/test_definitions.yml
  .github/workflows/tests.yml
Labels: github, infrastructure

#109 Call test definitions workflow in main branch
  .github/workflows/tests.yml
Labels: ignore-for-release, github, infrastructure

#108 User/colinli02/106 add ci status badges
  README.md
Labels: github, infrastructure

#110 Add Build Images CI badge
  README.md
Labels: ignore-for-release, github, infrastructure
