Repository UBCSailbot/sailbot_workspace, pull requests merged in 2023-01, with the labels that each got.

#69 Enable VCS cloning for regression tests
  .github/actions/lint/run.sh
  .github/actions/test/run.sh
  .github/workflows/regression-tests.yaml
Labels: bug, infrastructure

#72 Run all tests on pull requests and push to main
  .github/workflows/readme-lint.yaml
  .github/workflows/tests.yaml
Labels: infrastructure, workflows

#73 Prepare CI for raye branch
  .github/actions/ament-lint/action.yml
  .github/actions/ament-lint/run.sh
  .github/actions/clang-tidy/action.yml
  .github/actions/clang-tidy/run.sh
  .github/actions/lint/action.yml
  .github/actions/lint/run.sh
  .github/actions/test/run.sh
  .github/workflows/tests.yaml
Labels: ignore-for-release, infrastructure, workflows

#74 Fix setup regression
  setup.sh
Labels: ignore-for-release, infrastructure

#61 Overhaul dev container
  .clang-tidy
  .devcontainer/.dockerignore
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/base/.dockerignore
  .devcontainer/base/Dockerfile
  .devcontainer/base/README.md
  .devcontainer/base/base.Dockerfile
  .devcontainer/base/build-base.sh
  .devcontainer/base/install-ompl-ubuntu-python3.sh
  .devcontainer/base/raye/.dockerignore
  .devcontainer/base/raye/Dockerfile
  .devcontainer/base/raye/README.md
  .devcontainer/base/raye/install-ompl-ubuntu-python2.sh
  .devcontainer/base/raye/install-raye-dependencies.bash
  .devcontainer/config/README.md
  .devcontainer/config/sailbot_workspace.code-workspace
  .devcontainer/dev/.dockerignore
  .devcontainer/dev/Dockerfile
  .devcontainer/dev/README.md
  .devcontainer/dev/build-dev.sh
  .devcontainer/dev/dev.Dockerfile
  .devcontainer/dev/update-bashrc.sh
  .devcontainer/devcontainer.json
  .env
  .github/actions/ament-lint/run.sh
  .github/actions/clang-tidy/run.sh
  .github/actions/test/run.sh
  .gitignore
  .vscode/c_cpp_properties.json
  build.sh
  run_clang-tidy.sh
  src/new_project.repos
Labels: enhancement, devcontainer

#75 Revert network_systems branch to main after v2-updates merged in
  src/new_project.repos
Labels: ignore-for-release, infrastructure

#77 Fix build dev image wokflow
  .devcontainer/Dockerfile
  .devcontainer/base/base.Dockerfile
  .devcontainer/base/build-base.sh
  .devcontainer/dev/build-dev.sh
  .devcontainer/dev/dev.Dockerfile
  .github/workflows/build-dev-image.yaml
  .github/workflows/tests.yaml
Labels: ignore-for-release, infrastructure, workflows

#82 Update release note template
  .github/release.yml
Labels: ignore-for-release, infrastructure
