Repository UBCSailbot/sailbot_workspace, pull requests merged in 2023-05, with the labels that each got.

#116 Use docker compose
  .devcontainer/deployment/README.md
  .devcontainer/deployment/start_container.sh
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Labels: devcontainer, infrastructure

#117 Make docker volumes delegated
  .devcontainer/docker-compose.yml
Labels: devcontainer, infrastructure

#115 Add docs site
  .devcontainer/config/sailbot_workspace.code-workspace
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/docs/docs.Dockerfile
  setup.sh
  src/new_project.repos
Labels: enhancement, infrastructure

#119 Add potential solutions for the website v2
  .devcontainer/config/sailbot_workspace.code-workspace
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/website/website.Dockerfile
  src/new_project.repos
Labels: devcontainer, infrastructure

#121 Do not run extra services by default
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.db.yml
  .devcontainer/docker-compose.docs.yml
  .devcontainer/docker-compose.website.yml
  .devcontainer/docker-compose.yml
Labels: devcontainer, infrastructure

#122 Fix rebuild docs job
  .github/workflows/test_definitions.yml
Labels: bug, github, infrastructure

#123 Fix rebuild docs part 2
  .github/workflows/test_definitions.yml
  .github/workflows/tests.yml
Labels: bug, github, infrastructure

#124 Fix rebuild docs part 3
  .github/workflows/test_definitions.yml
  .github/workflows/tests.yml
Labels: bug, github, infrastructure

#125 Update dev container docs
  .devcontainer/README.md
  .devcontainer/base-dev/README.md
  .devcontainer/docs/README.md
  .devcontainer/pre-base/README.md
  .devcontainer/website/README.md
Labels: documentation

#126 Add template repo run arguments to deployment container
  .devcontainer/deployment/start_container.sh
Labels: infrastructure

#127 Update features of docs and website images
  .devcontainer/docs/README.md
  .devcontainer/website/README.md
Labels: documentation, ignore-for-release

#128 Sync documentation with Docs site
  .devcontainer/README.md
  .devcontainer/config/README.md
  .devcontainer/deployment/README.md
  .devcontainer/devcontainer.json
  .devcontainer/docs/README.md
  .devcontainer/website/README.md
Labels: documentation
