Repository UBCSailbot/sailbot_workspace, pull requests merged in 2023-11, with the labels that each got.

#184 Run virtual iridium before tests
  .github/actions/test/run.sh
  test.sh
Labels: infrastructure

#183 Add diagnostics repo to sailbot workspace
  .devcontainer/config/sailbot_workspace.code-workspace
  src/polaris.repos
Labels: vscode, infrastructure

#186 Don't cancel in-progress jobs
  .github/workflows/tests.yml
Labels: bug, github, infrastructure

#187 Start and kill virtual iridium in test.sh
  test.sh
Labels: github, infrastructure

#191 Fix sailbot workspace ref in CI
  .github/workflows/test_definitions.yml
Labels: bug, github, infrastructure

#193 Fix sailbot workspace ref for other repositories
  .github/workflows/test_definitions.yml
Labels: bug, github, infrastructure

#188 Checkout virtual iridium repo in CI
  .github/actions/checkout/action.yml
  run_virtual_iridium.sh
  test.sh
Labels: bug, github, infrastructure

#190 Add rapidyaml as a static library
  .devcontainer/Dockerfile
  .devcontainer/base-dev/base-dev.Dockerfile
Labels: devcontainer, infrastructure

#194 Remove Grafana
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.website.yml
Labels: devcontainer, infrastructure

#195 Don't run extract-metadata when not needed
  .github/workflows/test_definitions.yml
Labels: bug, github, infrastructure

#196 CI fails if called workflow fails
  .github/workflows/test_definitions.yml
Labels: bug, github, infrastructure

#198 Rename reusable workflow secret
  .github/workflows/test_definitions.yml
  .github/workflows/tests.yml
Labels: github, infrastructure

#199 Fix cpp Config
  .devcontainer/config/sailbot_workspace.code-workspace
  .github/actions/clang-tidy/run.sh
  .vscode/c_cpp_properties.json
  build.sh
Labels: bug

#200 Add timeout to each CI test
  .github/workflows/build-images.yml
  .github/workflows/test_definitions.yml
Labels: github, infrastructure

#201 Fix gitignore directories
  .gitignore
Labels: vscode, infrastructure

#202 Remove clang-tidy Infinite Loop Check to Reduce Runtime
  .clang-tidy
Labels: infrastructure

#205 Automatically merge dependabot PRs
  .github/CODEOWNERS
  .github/workflows/test_definitions.yml
Labels: github, infrastructure

#208 Remove ubcsailbotsoftware as codeowner
  .github/CODEOWNERS
Labels: bug, infrastructure

#207 Fix merge-dependabot-pr job
  .github/workflows/test_definitions.yml
Labels: bug, infrastructure

#206 Add Controller to Global Launch File
  src/global_launch/main_launch.py
Labels: enhancement

#209 Move vs code workspace file to repo root
  .devcontainer/.dockerignore
  .gitignore
  README.md
  sailbot.code-workspace
Labels: vscode, infrastructure

#213 Ignore c_cpp_properties.json
  .gitignore
  sailbot.code-workspace
Labels: maintenance, devcontainer, infrastructure

#212 Plantuml Infrastructure
  .devcontainer/Dockerfile
  .devcontainer/base-dev/base-dev.Dockerfile
  .devcontainer/devcontainer.json
  .gitignore
  diagrams/README.md
  diagrams/src/sequence_diagram_ex.puml
  diagrams/src/state_diagram_ex.puml
  diagrams/template.puml
  sailbot.code-workspace
Labels: devcontainer, infrastructure, dependencies

#214 Install github markdown extension pack
  .devcontainer/devcontainer.json
Labels: vscode, infrastructure
