Repository UBCSailbot/sailbot_workspace, pull requests merged in 2023-10, with the labels that each got.

#173 Fix base/dev image long build times
  .devcontainer/Dockerfile
  .devcontainer/base-dev/base-dev.Dockerfile
  .devcontainer/pre-base/build-pre-base.sh
  .devcontainer/pre-base/pre-base.Dockerfile
Labels: devcontainer, infrastructure

#172 Restore BUILD_TYPE Flag
  build.sh
Labels: bug, infrastructure

#171 Add local pathfinding python dependencies
  .devcontainer/Dockerfile
  .devcontainer/base-dev/base-dev.Dockerfile
Labels: devcontainer, infrastructure

#152 Request write access to repositories in codespace
  .devcontainer/devcontainer.json
Labels: devcontainer, infrastructure

#170 Website infrastructure updates
  .devcontainer/devcontainer.json
  .devcontainer/website/website.Dockerfile
Labels: vscode, infrastructure

#176 Run mongodb by default
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Labels: devcontainer, infrastructure

#177 Python: add plotly pkg to base img
  .devcontainer/Dockerfile
  .devcontainer/base-dev/base-dev.Dockerfile
Labels: devcontainer, infrastructure

#156 Configure mypy in workspace
  .devcontainer/Dockerfile
  .devcontainer/base-dev/base-dev.Dockerfile
  .devcontainer/config/sailbot_workspace.code-workspace
  .devcontainer/devcontainer.json
  .github/actions/ament-lint/run.sh
  .github/workflows/test_definitions.yml
  src/global_launch/main_launch.py
Labels: devcontainer, github, vscode, infrastructure

#181 Remove quick build flag
  .devcontainer/config/sailbot_workspace.code-workspace
  build.sh
Labels: infrastructure

#182 Add run-sailbot-workspace-ci job
  .github/workflows/test_definitions.yml
  .github/workflows/tests.yml
Labels: github, infrastructure
