Repository UBCSailbot/sailbot_workspace, pull requests merged in 2024-02, with the labels that each got.

#230 Update pre-base image
  .devcontainer/Dockerfile
  .devcontainer/base-dev/README.md
  .devcontainer/base-dev/base-dev.Dockerfile
  .devcontainer/pre-base/README.md
  .devcontainer/pre-base/build-pre-base.sh
  .devcontainer/pre-base/pre-base.Dockerfile
  .github/workflows/build-images.yml
Labels: bug, devcontainer, infrastructure

#241 Add GeoJSON viewer VS Code Extension
  .devcontainer/devcontainer.json
Labels: devcontainer

#246 Fix run_virtual_iridium.sh
  run_virtual_iridium.sh
Labels: bug
