Repository UBCSailbot/sailbot_workspace, pull requests merged in 2024-07, with the labels that each got.

#411 Fix disabling dependabot updates for website
  .github/dependabot.yml
Labels: bug, infrastructure, github_actions

#396 Update deployment container script
  .devcontainer/Dockerfile
  .devcontainer/base-dev/README.md
  .devcontainer/docker-compose.yml
  .devcontainer/website/docker-compose.website.prod.yml
  .devcontainer/website/docker-compose.website.yml
  .github/workflows/build-images.yml
  .gitignore
  sailbot.code-workspace
  scripts/README.md
  scripts/clang-tidy.sh
  scripts/deployment/README.md
  scripts/deployment/start_container.sh
  scripts/deployment/start_containers.sh
  scripts/run-tests.sh
  scripts/run_software.sh
  scripts/setup.sh
  src/website/.gitignore
Labels: infrastructure

#333 Connecting CAN Frames to ROS, issue #326
  src/custom_interfaces/diagrams/out/external_interfaces.png
  src/custom_interfaces/diagrams/src/external_interfaces.puml
  src/custom_interfaces/msg/HelperAISShip.msg
  src/network_systems/projects/can_transceiver/inc/can_frame_parser.h
  src/network_systems/projects/can_transceiver/src/can_frame_parser.cpp
  src/network_systems/projects/can_transceiver/src/can_transceiver.cpp
  src/network_systems/projects/can_transceiver/src/can_transceiver_ros_intf.cpp
  src/network_systems/projects/can_transceiver/test/test_can_transceiver.cpp
  src/network_systems/ros_info.txt
  src/network_systems/ros_info.yaml
  src/website/package-lock.json
Labels: net, can transceiver

#421 Fix view and edit source links in docs site
  mkdocs.yml
Labels: bug, docs
