Repository UBCSailbot/sailbot_workspace, pull requests merged in 2024-03, with the labels that each got.

#235 Integrate website into tests
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.db.yml
  .devcontainer/docker-compose.yml
  .github/actions/ament-lint/action.yml
  .github/actions/checkout/action.yml
  .github/actions/clang-tidy/action.yml
  .github/actions/test/action.yml
  test.sh
Labels: devcontainer, github, infrastructure

#275 Latest NET Migration Changes
  src/network_systems/functions.cmake
  src/network_systems/lib/CMakeLists.txt
  src/network_systems/lib/net_node/CMakeLists.txt
  src/network_systems/lib/net_node/inc/net_node.h
  src/network_systems/lib/net_node/src/net_node.cpp
  src/network_systems/lib/sailbot_db/src/sailbot_db.cpp
  src/network_systems/projects/can_transceiver/src/can_transceiver_ros_intf.cpp
  src/network_systems/projects/example/src/cached_fib_ros_intf.cpp
  src/network_systems/projects/local_transceiver/CMakeLists.txt
  src/network_systems/projects/local_transceiver/inc/at_cmds.h
  src/network_systems/projects/local_transceiver/inc/local_transceiver.h
  src/network_systems/projects/local_transceiver/src/local_transceiver.cpp
  src/network_systems/projects/local_transceiver/src/local_transceiver_ros_intf.cpp
  src/network_systems/projects/local_transceiver/test/test_local_transceiver.cpp
  src/network_systems/projects/mock_ais/src/mock_ais_ros_intf.cpp
  src/network_systems/projects/remote_transceiver/src/remote_transceiver_ros_intf.cpp
  src/network_systems/ros_info.txt
  src/network_systems/scripts/README.md
  src/network_systems/scripts/http_echo_server.py
Labels: net

#299 Miscellaneous infrastructure updates
  .github/dependabot.yml
  src/virtual_iridium/.gitignore
  src/virtual_iridium/python/imap_stuff.pyc
  src/virtual_iridium/python/sbd_packets.pyc
  src/virtual_iridium/python/smtp_stuff.pyc
Labels: infrastructure

#300 Comment out grouped dependabot updates
  .github/dependabot.yml
Labels: infrastructure

#315 Upgrade Node.js version from v18 to v20
  .devcontainer/website/website.Dockerfile
Labels: infrastructure

#234 LUT mappings added
  src/global_launch/config/README.md
  src/global_launch/config/globals.yaml
Labels: ctrl

#316 Use rrtstar planner in tests
  src/local_pathfinding/test/test_ompl_path.py
Labels: bug, path

#317 Fix test warnings
  src/controller/tests/unit/wingsail/common/test_lut.py
  src/local_pathfinding/test/test_local_path.py
  src/local_pathfinding/test/test_objectives.py
Labels: bug, infrastructure

#322 NET Generate ROS Info Update
  src/network_systems/.gitignore
  src/network_systems/launch/main_launch.py
  src/network_systems/lib/cmn_hdrs/CMakeLists.txt
  src/network_systems/projects/can_transceiver/src/can_transceiver_ros_intf.cpp
  src/network_systems/projects/example/src/cached_fib_ros_intf.cpp
  src/network_systems/projects/local_transceiver/src/local_transceiver_ros_intf.cpp
  src/network_systems/projects/mock_ais/src/mock_ais_ros_intf.cpp
  src/network_systems/projects/remote_transceiver/src/remote_transceiver_ros_intf.cpp
  src/network_systems/ros_info.yaml
  src/network_systems/scripts/README.md
  src/network_systems/scripts/autogen_ros_topics.sh
  src/network_systems/scripts/gen_ros_info.py
Labels: maintenance, net, infrastructure

#325 Fix Lint Tasks
  sailbot.code-workspace
  src/network_systems/scripts/gen_ros_info.py
Labels: bug, infrastructure

#331 Update links to deprecated sub-repositories
  .devcontainer/docs/README.md
  .devcontainer/website/README.md
  docs/current/sailbot_workspace/how_to.md
  docs/reference/markdown.md
  mkdocs.yml
  src/boat_simulator/README.md
  src/controller/README.md
  src/custom_interfaces/README.md
  src/local_pathfinding/README.md
  src/network_systems/README.md
Labels: bug, infrastructure

#332 Remove legacy-peer-deps header when installing node packages for website
  .devcontainer/website/website.Dockerfile
  src/website/package-lock.json
  src/website/package.json
Labels: web, infrastructure

#311 Sensors: Add delay model
  src/boat_simulator/boat_simulator/common/sensors.py
  src/boat_simulator/boat_simulator/common/unit_conversions.py
  src/boat_simulator/tests/unit/common/test_gps_sensor.py
  src/boat_simulator/tests/unit/common/test_wind_sensor.py
Labels: sim

#244 Migrate Package Specific Dependencies from Image to package.xml
  .devcontainer/Dockerfile
  .devcontainer/base-dev/base-dev.Dockerfile
  .devcontainer/base-dev/update-bashrc.sh
  setup.sh
  src/integration_tests/custom-rosdep.yaml
  src/integration_tests/package.xml
  src/network_systems/package.xml
Labels: infrastructure

#339 Update website base image to node:20-alpine
  .devcontainer/website/website.Dockerfile
Labels: web, infrastructure

#337 Create Fluid Force Computation class
  src/boat_simulator/boat_simulator/nodes/physics_engine/fluid_forces.py
  src/boat_simulator/package.xml
  src/boat_simulator/tests/unit/nodes/physics_engine/test_fluid_forces.py
Labels: sim

#343 [NET] Local Transceiver: ROS modes and config file
  src/network_systems/config/local_transceiver/local_transceiver_template.yaml
  src/network_systems/launch/main_launch.py
  src/network_systems/projects/local_transceiver/src/local_transceiver_ros_intf.cpp
Labels: net

#342 Fix Remote Transceiver Test Failures
  src/network_systems/projects/remote_transceiver/inc/remote_transceiver.h
  src/network_systems/projects/remote_transceiver/test/test_remote_transceiver.cpp
Labels: bug, net, remote transceiver

#327 Implemented Sail Class With Tests
  src/controller/controller/common/constants.py
  src/controller/controller/wingsail/controllers.py
  src/controller/controller/wingsail/wingsail_ctrl_node.py
  src/controller/tests/unit/wingsail/test_controllers.py
  src/custom_interfaces/msg/SailCmd.msg
Labels: ctrl
