Repository UBCSailbot/sailbot_workspace, pull requests merged in 2025-07, with the labels that each got.

#585 User/adambrett40/567 can send
  .devcontainer/devcontainer.json
  src/network_systems/projects/can_transceiver/src/can_transceiver.cpp
  src/network_systems/projects/can_transceiver/src/can_transceiver_ros_intf.cpp
Labels: can transceiver

#596 User/adambrett40/594 data wind callback
  src/network_systems/lib/cmn_hdrs/shared_constants.h
  src/network_systems/projects/can_transceiver/src/can_frame_parser.cpp
  src/network_systems/projects/can_transceiver/src/can_transceiver_ros_intf.cpp
Labels: can transceiver

#578 Pathfinding: Track global waypoints
  src/local_pathfinding/local_pathfinding/local_path.py
  src/local_pathfinding/local_pathfinding/node_navigate.py
  src/local_pathfinding/local_pathfinding/ompl_path.py
  src/local_pathfinding/test/test_local_path.py
  src/local_pathfinding/test/test_node_navigate.py
  src/local_pathfinding/test/test_ompl_objectives.py
  src/local_pathfinding/test/test_ompl_path.py
Labels: path

#592 Update codeowner and package json fix
  .github/CODEOWNERS
  .gitignore
Labels: infrastructure

#608 Can frame updates from manual testing
  src/network_systems/projects/can_transceiver/src/can_frame_parser.cpp
  src/network_systems/projects/can_transceiver/src/can_transceiver_ros_intf.cpp
Labels: can transceiver

#609 improve vague logging when constructing an out of range can frame
  src/network_systems/projects/can_transceiver/src/can_transceiver_ros_intf.cpp
Labels: can transceiver
